/* Bottom right button */


.rollbar{
    position: fixed;
	bottom:60px;
	right:30px;
    .rollbar-item {
    	position: relative;
    	margin-top: 5px;
    	width: 42px;
    	height: 42px;
    	border-radius: 5px;
    	background-color: #fff;
    	border:1px solid #ddd;
    	color: #fff;
    	text-align: center;
    	vertical-align:middle;
    	cursor: pointer;
    	transition: all 0.5s ease;
    	opacity: 0.8;
    }
    .rollbar-item:hover {
    	opacity: 1;
    	border: 1px solid #c0c0c0;
    }
    .fa{
    	color:#fff;
    	font-size: 22px;
    	line-height: 42px;
    }
    
    .fa-angle-up{
        color:#555;
        line-height:38px;
    }
    
    .fa-weixin{
        color:#7BD172
    }
    
    .fa-qq{
        color:#f67585
    }
}

